/*=================================================
		일반
=================================================*/
*{
	font-family: 'Nanum Gothic','dotum','돋움','Helvetica Neue','Helvetica','Arial','sans-serif';
}

html,body{
	margin: 0;
	padding: 0;	
}

a{
	color: inherit;
	text-decoration: none;
	font-family: inherit;
}

a:hover,
a:active,
a:after,
a:visited,
a:focus{
	color: inherit;
	text-decoration: none;
}

.label:hover,
.label:active,
.label:after,
.label:visited,
.label:focus{
	color: #FFFFFF;
}

p,
.word-break{
	word-break: keep-all;
	word-wrap: break-word;
}

form{
	margin: 0;
}

.page_wrap{
	position: relative;
	overflow: hidden;
}

strong, span, small{
	font-family: inherit;
}

.strong{
	font-weight: bold;
}

.cloak{
	display: none;
}

.wrapper{
	display: block;
	position: relative;
	overflow: hidden;
}

/*=================================================
		가운데 라인 타이틀
=================================================*/
.line-title{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	
	text-align: center;
}

.line-title:before{
	content: "";
	
	position: absolute;
	width: 100%;
	height: 1px;
	top: 50%;
	left: 0;
	
	background: #404040;
}

.line-title span {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	z-index: 99;
	
	background: #FFFFFF;
	
	color: #000000;
}

/*=================================================
		스크롤 업
=================================================*/
.scroll-up{
	display: none;
	position: fixed;
	padding: 10px;
	bottom: 30px;
	right: 30px;
	opacity: 0.5;
	z-index: 70;
	
	font-size: 20px;
	line-height: 1;
}

.scroll-up:hover{
	opacity: 1
}

.fixed-call-btn{
	display: none;
	position: fixed;
	padding: 6px;
	bottom: 50px;
	right: 10px;
	
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #656565;
	
	font-size: 20px;
	line-height: 1;
}

.fixed-call-btn.active,
.fixed-call-btn:active,
.fixed-call-btn:hover,
.fixed-call-btn:after,
.fixed-call-btn:focus,
.fixed-call-btn:visited{
	background-color: rgba(0, 0, 0, 0.6);
}

.fixed-call-btn i.fa{
	color: #FFFFFF;
}

/*****#####===== 미디어 쿼리 =====#####*****/
/***** xs *****/
@media (max-width: 767px){
	.scroll-up{
		padding: 6px;
		bottom: 10px;
		right: 10px;
		opacity: 1;
		
		background-color: rgba(, 0.6);
	}
}

/*=================================================
		백그라운드
=================================================*/
.bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fixed-bg{
	position: static;
	
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*=================================================
	버튼 설정
=================================================*/
.float-btn-wrap{
	position: fixed;
	bottom: 20px;
	right: 50px;
	padding: 15px;
	
	width: 250px;
	height: 80px;
	
	cursor: move;
	
	background-color: rgba(255, 255, 255, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEFFFFFF,endColorstr=#EEFFFFFF);
	box-shadow: 0px 4px 15px #DDDDDD;
	
	border: 1px solid #DDDDDD;
	
	text-align: center;
}

/*=================================================
		반응형 비디오
=================================================*/
.video-container {
    position: relative;
    padding-bottom: 53.56%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    text-align: center;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
}

/*=================================================
		리스트
=================================================*/
/***** 가로선 *****/
.vertical-list{
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.vertical-list:after{
	clear: both;
	display: table;
	content: "";
}

.vertical-list:before{
	display: table;
	content: "";
}

.vertical-list > li{
	display: inline-block;
	float: left;
}

/***** 세로 가르기 선 *****/
ul.vertical-divide{
	width: auto;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

ul.vertical-divide:before{
	display: table;
	content: " ";
}

ul.vertical-divide:after{
	clear: both;
	display: table;
	content: " ";
}

ul.vertical-divide > li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}

ul.vertical-divide > li > span,
ul.vertical-divide > li > a{
	display: block;
	
	text-align: center;
	
	padding: 5px 15px;
}

ul.vertical-divide > li+li:before{
	display: block;
	position: absolute;
	margin-top: 9px;
	width: 2px;
	height: 12px;
	border-left: 1px solid #999999;
	border-right: 1px solid #DDDDDD;
	content: '';
}

/*=================================================
		말줄임
=================================================*/
.ellipsis {
	position: relative;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*=================================================
		raty
=================================================*/
.raty-big{
	font-size:24px;
	color:#555555;
}

/*=================================================
		Masonry
=================================================*/
.masonry-wrap .grid-sizer,
.masonry-wrap .item{
	width: 25%;
}

.masonry-wrap .item{
	padding: 5px;
	cursor: pointer;
}

.masonry-wrap .item.w2{
	width: 50%;
}

/*****#####===== 미디어 쿼리 =====#####*****/
/***** lg *****/
@media (min-width: 1200px) and (max-width: 1500px){
	.masonry-wrap .grid-sizer,
	.masonry-wrap .item{
		width: 25%;
	}
}

/***** md *****/
@media (min-width: 992px) and (max-width: 1199px){
	.masonry-wrap .grid-sizer,
	.masonry-wrap .item{
		width: 25%;
	}
}

/***** sm *****/
@media (min-width: 768px) and (max-width: 991px){
	.masonry-wrap .grid-sizer,
	.masonry-wrap .item{
		width: 33.33%;
	}
}

/***** xs *****/
@media (max-width: 767px){
	.masonry-wrap .grid-sizer,
	.masonry-wrap .item{
		width: 50%;
	}
}
	
/*=================================================
		테이블
=================================================*/
.fixed-table{
	width: 100%;
	table-layout:fixed;
}

/*=================================================
	슬라이드 테이블
=================================================*/
.slide-table{
	width: 100%;
	
	border-top: 2px solid #202020;
	border-bottom: 1px solid #DDDDDD;
}

.slide-table th,
.slide-table td{
	padding: 17px 8px;
	
	text-align: center;
}

.slide-table td.left{
	text-align: left;
}

.slide-table .subject{
	border-bottom: 1px solid #DDDDDD;
	
	cursor: pointer;
}

.slide-table .subject td.subject_td{
	text-align: left;
}

.slide-table .subject.active{
	border-bottom: 1px solid #FCFCFC;
}

.slide-table .subject.active td.subject_td{
	font-weight: bold;
}

.slide-table .content{
	display: none;
}

.slide-table .content.active{
	display: table-row !important;
	border-bottom: 1px solid #DDDDDD;
}

.slide-table .content td{
	text-align: left;
}

/*=================================================
	Ajax 게시판
=================================================*/
.ajax-board-item{
	opacity: 0;
}

/*=================================================
	게시판 테이블
=================================================*/
.board-table{
	width:  100%;
	
	border-top: 3px solid #222222;
	border-bottom: 1px solid #222222;
}

.board-table td.subject{
	position: relative;
	width: 100%;
	overflow: hidden;

	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.board-table .index{
	width: 100px;
}

.board-table .status{
	width: 150px;
}

.board-table .writer{
	width: 150px;
}

.board-table .date{
	width: 150px;
}


/*****#####===== 미디어 쿼리 =====#####*****/
/***** xs *****/
@media (max-width: 767px){
	.board-table th,
	.board-table td{
		display: none;
	}
	
	.board-table th.visible,
	.board-table td.visible,
	.board-table th.subject,
	.board-table td.subject{
		display: table-cell;
	}
}

/*=================================================
	모달 테이블
=================================================*/
.modal_table > tbody > tr > th{
	background-color: #EEEEEE;
	width: 150px;
}

.modal_table > tbody > tr > td{
	text-align: left;
}

/***** xs *****/
@media (max-width: 767px){
	.modal_table > tbody > tr > th{
		display: none;
	}
	
	.modal_table > tbody > tr > td{
		padding: 3px;
		border: none;
	}
	
	.modal_table > tbody > tr > td .radio,
	.modal_table > tbody > tr > td .checkbox{
		margin: 3px 0;
	}
}

/*=================================================
	비율 DIV
=================================================*/
.ratio-box{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.ratio-box:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.ratio-box > .ratio-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.ratio-box > .ratio-content > .circle-wrap{
	display:table;
	width:100%;
	height:100%;
}

.ratio-box > .ratio-content > .circle-wrap > a,
.ratio-box > .ratio-content > .circle-wrap > span{
	display:table-cell;
	vertical-align:middle;
	
	border-radius: 100%;
	border: 1px solid #000000;
	
	text-align:center;
}

.ratio-box.ratio2_1:before{
	padding-top: 50%;
}
.ratio-box.ratio1_1:before{
	padding-top: 100%;
}
.ratio-box.ratio2_3:before{
	padding-top: 150%;
}
.ratio-box.ratio3_4:before{
	padding-top: 133.33%;
}
.ratio-box.ratio1_2:before{
	padding-top: 200%;
}
.ratio-box.ratio4_3:before{
	padding-top: 75%;
}
.ratio-box.ratio16_9:before{
	padding-top: 56.25%;
}
.ratio-box.ratio9_16:before{
	padding-top: 177.77%;
}

.ratio-box.ratio_custom:before{
	padding-top: 66.66%;
}


.middle-box{
	display: table;
	width: 100%;
	height: 100%;
	
	text-align: center;
}

.middle-box .inner{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}


/*=================================================
	이미지
=================================================*/
img.width-100{
	width: 100%;	
}


/*=================================================
	호버
=================================================*/
/*****===== 이미지 =====*****/
.hover-img-wrap img{
	width: 100%;
	max-width: 100%;
	height: 100%;	
}

.hover-img-wrap img.off{
	display: block;
}

.hover-img-wrap img.on{
	display: none;
}

.hover-img-wrap:hover img.on,
.hover-img-wrap.active img.on{
	display: block;
}

.hover-img-wrap:hover img.off,
.hover-img-wrap.active img.off{
	display: none;
}

/*****===== 일반 =====*****/
.hover-wrap .off{
	display: block;
}

.hover-wrap .on{
	display: none;
}

.hover-wrap:hover .on,
.hover-wrap.active .on{
	display: block;
}

.hover-wrap:hover .off,
.hover-wrap.active .off{
	display: none;
}

/*=================================================
	호버 레이어
=================================================*/
.hover-layer-wrap{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.hover-layer-wrap .hover-sublayer{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	bottom: 0;
	
	background-color: rgba(0, 0, 0, 0.5);
}


/*=================================================
	롤오버
=================================================*/
.rollover{
	display: block;
	position: relative;
	overflow: hidden;
}

.rollover .layer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000);
	zoom: 1;
	
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.rollover:hover .layer{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.rollover .box.center{
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	
	text-align: center;
}

.rollover .box .inner{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}


/*=================================================
		타임라인
=================================================*/
.timeline-wrap{
	position: relative;
	padding: 20px 0;
}

.timeline-wrap::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2px;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}

.timeline-block{
	position: relative;
	margin: 20px;
}

.timeline-block:after{
	content: "";
	display: table;
	clear: both;
}

.timeline-img{
	position: absolute;
	top: 10px;
	width: 20px;
	height: 20px;
	left: 50%;
	margin-left: -10px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	background-color: #75CE66;
}

.timeline-content{
	position: relative;
	padding: 20px;
	background-color: #FFFFFF;
	width: 47%;
	
	border: 4px solid #d7e4ed;
	border-radius: 10px;
}

.timeline-content h4{
	margin: 0;
	margin-bottom: 10px;
	
	font-family: 'Merriweather', "Nanum Gothic";
	font-size: 25px;
}

.timeline-content h5{
	margin: 0;
	
	font-size: 16px;
	line-height: 1.8;
}

.timeline-content.right{
	float: right;
}

/*=================================================
		Form 테이블
=================================================*/
.form-table{
	width: 100%;
	border: none;
}

.form-table input.form-control,
.form-table select.form-control,
.form-table textarea.form-control{
	border: 1px solid #DDDDDD;
	box-shadow: none;
	border-radius: 0px;
}

.form-table > tbody > tr > th,
.form-table > tbody > tr > td{
	border: none;
	vertical-align: middle;
	text-align: left;
}

.form-table > tbody > tr > th{
	width: 130px;
	font-size: 15px;
}

/***** xs *****/
@media (max-width: 767px){
	.form-table > tbody,
	.form-table > tbody > tr,
	.form-table > tbody > tr > th,
	.form-table > tbody > tr > td{
		position: relative;
		display: block;
	}
	
	.form-table > tbody > tr > th{
		padding-bottom: 0;
	}
	
	.form-table > tbody > tr > th > label{
		margin-bottom: 0;
	}
	
	.form-table > tbody > tr > td{
		padding-top: 0;
	}
	
	.form-table p.form-control-static{
		margin: 0;
		padding: 0;
	}
	
	.form-table .inline_400{
		width: 100%;
	}
}

/*=================================================
		Fullscreen Popup
=================================================*/
.fsp-open-btn{
	cursor: pointer;
}

.fsp-popup{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 9999;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(255, 255, 255, 0.99);
}

.fsp-popup.black{
	background: rgba(0, 0, 0, 0.9);
}

.fsp-popup .fsp-header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 15px 0;
	z-index: 10000;
	
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.fsp-popup .fsp-header .fsp-header-wrap{
	position: relative;
}

.fsp-popup .fsp-header-wrap .fsp-subject {
	margin: 0;
	padding-right: 60px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
}

.fsp-popup .fsp-header .fsp-close-btn{
	position: absolute;
	display: block;
	top: -5px;
	right: 0;
	cursor: pointer;
	
	border: 2px solid #DDDDDD;
	
	font-size: 27px;
}

.fsp-popup .fsp-body-wrap{
	padding: 80px 0 0;
}

.fsp-popup.black .fsp-body-wrap{
	color: #FFFFFF;
}

.fsp-popup .fsp-body-wrap .bc-subject{
	margin: 0;
	padding: 15px;
	
	font-size: 20px;
	font-weight: bold;
}

.fsp-popup .fsp-body-wrap .fsp-info{
	padding: 10px 20px;
	
	border-top: 2px solid #333333;
	border-bottom: 1px solid #333333;
}

.fsp-popup .fsp-body-wrap .fsp-content{
	padding: 20px;
	
	line-height: 1.6;
}

.fsp-popup .fsp-body-wrap .fsp-content p{
	margin: 13px 0;
	
	line-height: 1.6;
}

.fsp-popup .fsp-body-wrap .fsp-content img{
	max-width: 100%;
	height: auto;
}

.fsp-popup .fsp-body-wrap .cmnt-list{
	padding-left: 0;
	list-style: none;
	border-top: 2px solid #333333;
}

.fsp-popup .fsp-body-wrap .cmnt-list li{
	border-bottom: 1px solid #333333;
	padding: 20px;
}

.fsp-popup .fsp-body-wrap .cmnt-list li .cmnt-info{
	margin-bottom: 20px;
}

/***** xs *****/
@media (max-width: 767px){
	.fsp-popup .fsp-header-wrap .fsp-subject {
		padding-right: 40px;
		font-size: 16px;
	}
	
	.fsp-popup .fsp-header .fsp-close-btn{
		top: -9px;
		
		font-size: 22px;
	}
	
	.fsp-popup .fsp-body-wrap{
		padding: 60px 0 0;
	}
	
	.fsp-popup .fsp-body-wrap .bc-subject{
		padding: 10px;
	}
	
	.fsp-popup .fsp-body-wrap .fsp-info{
		padding: 10px;
	}
	
	.fsp-popup .fsp-body-wrap .fsp-info .info{
		float: left!important;
	}
	
	.fsp-popup .fsp-body-wrap .fsp-content{
		padding: 20px 10px;
	}
	
	.fsp-popup .fsp-body-wrap .cmnt-list li{
		padding: 10px;
	}
}

/*=================================================
		Third party support
=================================================*/
/*****===== Googel Map =====*****/
.google-map-canvas,
.google-map-canvas * {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	   		box-sizing: content-box;
}

/*****===== jQuery UI =====*****/
.ui-datepicker{
	z-index: 99 !important
}

.ui-widget-content a{
	color: inherit;
}

/*****===== fullcalendar =====*****/
.fc-state-default{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	
	background-color: #FFFFFF !important;
	border: 1px solid #DDDDDD !important;
	border-radius: 0 !important;
}

.fc-state-active{
	background-color: #EFEFEF !important;
}

/*****===== Revolution Slider =====*****/
.tp-banner-container{
	width:100%;
	position: relative;
	overflow: hidden;
}

.tp-banner-container .tp-banner *,
.tp-banner-container .tp-banner *:before,
.tp-banner-container .tp-banner *:after {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	   		box-sizing: content-box;
}

.tp-banner-container .tp-banner ul{
	padding: 0;
	margin: 0;
	
	list-style: none;
}


/*****===== bx-slider =====*****/
.bx-slider-wrap{
	position: relative;
}

.bx-slider-wrap ul{
	margin: 0;
	padding: 0;
}

.bx-wrapper{
	margin: 0 auto !important;
}

.bx-wrapper *,
.bx-wrapper *:before,
.bx-wrapper *:after {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	   		box-sizing: content-box;
}

.bx-wrapper .bx-viewport .row{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

.bx-wrapper .bx-viewport div[class*='col-'],
.bx-wrapper .bx-viewport div[class*='col-']:before,
.bx-wrapper .bx-viewport div[class*='col-']:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

.bx-wrapper .bx-viewport {
	border: none !important;
	left: 0 !important;
	box-shadow: none !important;
	background: none !important;
}

.bx-wrapper .bx-controls-direction a{
	z-index: 60 !important;
}

.bx-wrapper .bx-pager{
	padding: 0;
	bottom: 10px;
}

.bxslider{
	margin: 0;
	padding: 0;
}

/*****===== select2 =====*****/
.form-control .select2-choice{
	background: none !important;
	height: 36px !important;
	padding: 4px 8px !important;
}


.margin-0{
	margin: 0;
}

/*****#####===== 패딩 =====#####*****/
.padding-0{padding: 0;}
.padding-5{padding: 5px;}
.padding-10{padding: 10px;}
.padding-15{padding: 15px;}
.padding-20{padding: 20px;}
.padding-25{padding: 25px;}
.padding-30{padding: 30px;}
.padding-35{padding: 35px;}
.padding-40{padding: 40px;}
.padding-45{padding: 45px;}
.padding-50{padding: 50px;}
.padding-55{padding: 55px;}
.padding-60{padding: 60px;}
.padding-65{padding: 65px;}
.padding-70{padding: 70px;}
.padding-75{padding: 75px;}
.padding-80{padding: 80px;}
.padding-85{padding: 85px;}
.padding-90{padding: 90px;}
.padding-95{padding: 95px;}
.padding-100{padding: 100px;}
.padding-110{padding: 110px;}
.padding-120{padding: 120px;}
.padding-130{padding: 130px;}
.padding-140{padding: 140px;}
.padding-150{padding: 150px;}
.padding-160{padding: 160px;}
.padding-170{padding: 170px;}
.padding-180{padding: 180px;}
.padding-190{padding: 190px;}
.padding-200{padding: 200px;}

/*****#####===== 갭 =====#####*****/
.gap_5{line-height: 5px;height: 5px;}
.gap_10{line-height: 10px;height: 10px;}
.gap_15{line-height: 15px;height: 15px;}
.gap_20{line-height: 20px;height: 20px;}
.gap_25{line-height: 25px;height: 25px;}
.gap_30{line-height: 30px;height: 30px;}
.gap_35{line-height: 35px;height: 35px;}
.gap_40{line-height: 40px;height: 40px;}
.gap_45{line-height: 45px;height: 45px;}
.gap_50{line-height: 50px;height: 50px;}
.gap_55{line-height: 55px;height: 55px;}
.gap_60{line-height: 60px;height: 60px;}
.gap_65{line-height: 65px;height: 65px;}
.gap_70{line-height: 70px;height: 70px;}
.gap_75{line-height: 75px;height: 75px;}
.gap_80{line-height: 80px;height: 80px;}
.gap_85{line-height: 85px;height: 85px;}
.gap_90{line-height: 90px;height: 90px;}
.gap_95{line-height: 95px;height: 95px;}
.gap_100{line-height: 100px;height: 100px;}
.gap_110{line-height: 110px;height: 110px;}
.gap_120{line-height: 120px;height: 120px;}
.gap_130{line-height: 130px;height: 130px;}
.gap_140{line-height: 140px;height: 140px;}
.gap_150{line-height: 150px;height: 150px;}
.gap_160{line-height: 160px;height: 160px;}
.gap_170{line-height: 170px;height: 170px;}
.gap_180{line-height: 180px;height: 180px;}
.gap_190{line-height: 190px;height: 190px;}
.gap_200{line-height: 200px;height: 200px;}


/*****#####===== 인풋 크기 =====#####*****/
.inline{display:inline-block !important; width:auto !important;}
.inline_10{display:inline-block; width:10px}
.inline_20{display:inline-block; width:20px}
.inline_30{display:inline-block; width:30px}
.inline_40{display:inline-block; width:40px}
.inline_50{display:inline-block; width:50px}
.inline_60{display:inline-block; width:60px}
.inline_70{display:inline-block; width:70px}
.inline_80{display:inline-block; width:80px}
.inline_90{display:inline-block; width:90px}
.inline_100{display:inline-block; width:100px}
.inline_110{display:inline-block; width:110px}
.inline_120{display:inline-block; width:120px}
.inline_130{display:inline-block; width:130px}
.inline_140{display:inline-block; width:140px}
.inline_150{display:inline-block; width:150px}
.inline_160{display:inline-block; width:160px}
.inline_170{display:inline-block; width:170px}
.inline_180{display:inline-block; width:180px}
.inline_190{display:inline-block; width:190px}
.inline_200{display:inline-block; width:200px}
.inline_210{display:inline-block; width:210px}
.inline_220{display:inline-block; width:220px}
.inline_230{display:inline-block; width:230px}
.inline_240{display:inline-block; width:240px}
.inline_250{display:inline-block; width:250px}
.inline_260{display:inline-block; width:260px}
.inline_270{display:inline-block; width:270px}
.inline_280{display:inline-block; width:280px}
.inline_290{display:inline-block; width:290px}
.inline_300{display:inline-block; width:300px}
.inline_310{display:inline-block; width:310px}
.inline_320{display:inline-block; width:320px}
.inline_330{display:inline-block; width:330px}
.inline_340{display:inline-block; width:340px}
.inline_350{display:inline-block; width:350px}
.inline_360{display:inline-block; width:360px}
.inline_370{display:inline-block; width:370px}
.inline_380{display:inline-block; width:380px}
.inline_390{display:inline-block; width:390px}
.inline_400{display:inline-block; width:400px}